<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Admin Page</title>
  </head>
  <body>
  <!-- Below code is used to create the background colour -->
  {% csrf_token %}

    <center><h2>Profile</h2></center>
  <h2>Hello Admin <h2 style="color:crimson;">"{{name}}"</h2></h2>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>



{% csrf_token %}


      <!--
    Question No.2:-
    <input type="file" name="que2">
    <br>
    <br>
    Question No.3:-
    <input type="file" name="que3">
    <br>
    <br>

    Question No.4:-
    <input type="file" name="que4">
    <br>
    <br>

    Question No.5:-
    <input type="file" name="que5">
    <br>
    <br>
-->


 <a href="{% url 'que' admin_id %}" class="btn btn-primary btn-lg active">See and Upload Questions</a>

  {%if data %}
  <center>
      <h3> All Students Data: </h3>
  <table border="5px">

     <tr>
         <td>
             <b>ID</b>
         </td>
         <td>
             <b>First name</b>
         </td>

         <td>
             <b>Last name</b>
         </td>

         <td>
             <b>User name</b>
         </td>

         <td>
             <b>Email ID</b>
         </td>

         <td>
             <b>Delete User</b>
         </td>

         <td>
             <b>Edit User</b>
         </td>

     </tr>

{% for da in data%}
      <tr>
          <td>
              {{da.id}}
          </td>

          <td>
              {{da.first_name}}
          </td>

          <td>
              {{da.last_name}}
          </td>

          <td>
              {{da.user_name}}
          </td>

          <td>
              {{da.Email}}
          </td>
          <td>
              <a href="{% url 'delete' da.id%}" title="Delete {{da.first_name}}">Delete</a>

          </td>
          <td>
              <a href="{% url 'update' da.id admin_id %}"  title="Edit {{da.first_name}}">Edit</a>
          </td>
      </tr>

  {% endfor%}
      {% endif%}
  </table>
      </center>

  <div >
      <a href="{% url 'log_out' %}"  style="position:absolute; top:80px; left:1200px;"class="btn btn-primary btn-lg active" role="button" aria-pressed="true">LOG OUT</a>
  </div>

  <div >
      <a href="{% url 'add_user' %}"  style="position:absolute; top:80px; left:1000px;"class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add User</a>
  </div>