<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Registration</title>
  </head>
  <body>
    <center><h3>Registration Page</h3></center>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

   <!-- adding information for user -->

    <ol>
        <lh>Please enter the below details :</lh><!-- list heading -->
        <li>First name</li>
        <li>Last name</li>    <!-- list items -->
        <li>eamil add</li>
        <li>Username</li>
        <li>Password</li> -->
    </ol>

    <!-- form of registration  -->

  <center>
      <form method="post" action="" >
      {% csrf_token %} <!-- it is used to avoid csrf error -->
          {% if error %}
          <h3>{{error}}</h3>
      {% endif%}

  <div class="form-col">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" placeholder="First name" name="first_name" required autofocus>
    </div>

    <div class="form-group col-md-6">
      <input type="text" class="form-control" placeholder="Last name" name="last_name" required autofocus>
    </div>
      <div class="form-group col-md-6">
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email ID" name="Email" required autofocus>
    </div>
      <div class="form-group col-md-6">
      <input type="text" class="form-control" placeholder="Username" name="user_name" required autofocus>
    </div>
      <div class="form-group col-md-6">
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="Password" required autofocus>
    </div>
          <div class="form-group col-md-6">
      <input type="password" class="form-control" id="inputPassword5" placeholder="Confirm Password" name="Confirm_Password" required>
    </div>

  </div>

  <button type="submit" class="btn btn-primary">Register</button>
          <!--
          {% for msg in messages%}
                <h2>{{msg}}</h2>
         {% endfor %}
         -->
</form>

      <marquee direction="right"><h4>Already registered click<a href="{% url 'UserLogin'%}"> here</a> for login</h4></marquee>
</center>
  -->
  </body>
</html>